In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import folium
import warnings 
warnings.filterwarnings('ignore')

In [40]:


# Load the dataset with the correct encoding
df = pd.read_csv('datasets\\Global_terrorist.csv', encoding='ISO-8859-1')

In [41]:
df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

<h1>Filtering Data</h1>

In [ ]:
filter1 = df[df["region_txt"] == "Middle East & North Africa"]

In [ ]:
filter2 = filter1[filter1["iyear"] > 2000]

In [ ]:
filter2["attacktype1_txt"].value_counts()

In [ ]:
filter3 = filter2[filter2["attacktype1_txt"] == "Bombing/Explosion"]

<h1>Data Aggregation</h1>

In [ ]:
final_filter = filter3.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [ ]:
final_filter

<h1>Use of FOLIUM for GeoSpatial</h1>

In [ ]:
from folium.plugins import HeatMap

<h3>Converting Pandas DataFrame into Python List</h3>

In [ ]:
final_filter["normalize_data"] = final_filter["incident_count"] - final_filter["incident_count"].min() / final_filter["incident_count"].max() - final_filter["incident_count"]

heatmap_data = final_filter[['latitude', 'longitude', 'normalize_data']].values.tolist()

In [ ]:
final_filter

<h3>Creating a Base Map</h3>

In [ ]:
my_map = folium.Map(location= [30, 40], zoom_start = 4)

<h3>Add HeatMap Layer</h3>

In [ ]:
HeatMap(heatmap_data).add_to(my_map)

In [ ]:
my_map.save('terrorism_bombing.html')

<h1>INSIGHT no. 1</h1>
<h3>Southeast Asia Assassination (2010-2017)</h3>

In [ ]:
filter_sa = df[df["region_txt"] == "Southeast Asia"]
filter_sa2 = filter_sa[filter_sa["iyear"] > 2010]
filter_sa3 = filter_sa2[filter_sa2["attacktype1_txt"] == "Assassination"]
final_filter_sa = filter_sa3.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [ ]:
heatmap_data2 = final_filter_sa[['latitude', 'longitude', 'incident_count']].values.tolist()

In [ ]:
my_map2 = folium.Map(location= [30, 40], zoom_start = 4)

In [ ]:
HeatMap(heatmap_data2).add_to(my_map2)

In [ ]:
my_map2.save('terrorism_bombing.html')

<h1>INSIGHT no. 2</h1>
<h3>North America Facility/Infastracture Attack in 1970</h3>

In [59]:
filter_na = df[df["region_txt"] == "North America"]
filter_na2 = filter_na[filter_na["iyear"] == 1970]
filter_na3 = filter_na2[filter_na2["attacktype1_txt"] == "Facility/Infrastructure Attack"]
final_filter_na = filter_na3.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [54]:
heatmap_data3 = final_filter_na[['latitude', 'longitude', 'incident_count']].values.tolist()

In [55]:
my_map3 = folium.Map(location= [30, 40], zoom_start = 4)

In [ ]:
HeatMap(heatmap_data3).add_to(my_map3)
my_map3.save('terrorism_fac_attack.html')

<h1>INSIGHT no. 3</h1>
<h3>Bombing/Explosion in Philippines</h3>

In [64]:
filter_ph = df[df["country_txt"] == "Philippines"]
filter_ph2 = filter_ph[filter_ph["attacktype1_txt"] == "Bombing/Explosion"]
final_filter_ph = filter_ph2.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [61]:
heatmap_data4 = final_filter_ph[['latitude', 'longitude', 'incident_count']].values.tolist()

In [62]:
my_map4 = folium.Map(location= [30, 40], zoom_start = 4)

In [63]:
HeatMap(heatmap_data4).add_to(my_map4)
my_map4.save('Bombing_ph.html')

<h1>INSIGHT no. 4</h1>
<h3>Government (Diplomatic) Attack in United States during 2015</h3>

In [65]:
filter_us = df[df["country_txt"] == "United States"]
filter_us2 = filter_us[filter_us["iyear"] == 2015]
filter_us3 = filter_us2[filter_us2["targtype1_txt"] == "Government (Diplomatic)"]
final_filter_us = filter_us3.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [66]:
heatmap_data5 = final_filter_us[['latitude', 'longitude', 'incident_count']].values.tolist()

In [67]:
my_map5 = folium.Map(location= [30, 40], zoom_start = 4)

In [68]:
HeatMap(heatmap_data5).add_to(my_map5)
my_map5.save('government_us.html')

<h1>INSIGHT no. 5</h1>
<h3>Educational Institution affected by attacks in Japan</h3>

In [69]:
filter_jp = df[df["country_txt"] == "Japan"]
filter_jp2 = filter_jp[filter_jp["targtype1_txt"] == "Educational Institution"]
final_filter_jp = filter_jp2.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [70]:
heatmap_data6 = final_filter_jp[['latitude', 'longitude', 'incident_count']].values.tolist()

In [71]:
my_map6 = folium.Map(location= [30, 40], zoom_start = 4)

In [72]:
HeatMap(heatmap_data6).add_to(my_map6)
my_map6.save('education_jp.html')

<h1>Nationality Analysis</h1>

In [ ]:
filter_nat = df[df["country_txt"] == "Philippines"]
final_filter_nat = filter_nat.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [ ]:
heatmap_nat = final_filter_nat[['latitude', 'longitude', 'incident_count']].values.tolist()

In [ ]:
nat_map = folium.Map(location = [30, 40], zoom_start = 4)

In [ ]:
HeatMap(heatmap_nat).add_to(nat_map)
nat_map.save('philippines_attack.html')

<h1>Regional Analysis</h1>

In [ ]:
filter_reg = df[df["region_txt"] == "Western Europe"]
filter_reg1 = filter_reg[filter_reg["iyear"] >= 2000]
final_filter_reg = filter_reg1.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [ ]:
heatmap_reg = final_filter_reg[['latitude', 'longitude', 'incident_count']].values.tolist()

In [ ]:
reg_map = folium.Map(location = [30, 40], zoom_start = 4)

In [ ]:
HeatMap(heatmap_reg).add_to(reg_map)
reg_map.save('west_europe_attack.html')

<h1>Target Analysis</h1>

In [ ]:
filter_tar = df[df["targsubtype1_txt"] == "School/University/Educational Building"]
filter_tar1 = filter_tar[filter_tar["iyear"] >= 2000]
final_filter_tar = filter_tar1.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [37]:
heatmap_tar = final_filter_tar[['latitude', 'longitude', 'incident_count']].values.tolist()

In [38]:
tar_map = folium.Map(location = [30, 40], zoom_start = 4)

In [47]:
HeatMap(heatmap_tar).add_to(tar_map)
tar_map.save('target.html')

<h1>Casualty Analysis</h1>

In [42]:
filter_cas = df[df["attacktype1_txt"] == "Bombing/Explosion"]
filter_cas1 = filter_cas[filter_cas["iyear"] >= 2000]
final_filter_cas = filter_cas1.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [44]:
final_filter_cas['normalize_data'] = final_filter_cas['incident_count'] - final_filter_cas['incident_count'].min() / \
                                            final_filter_cas['incident_count'].max() - final_filter_cas['incident_count'].min()

In [45]:
heatmap_cas = final_filter_cas[['latitude', 'longitude', 'normalize_data']].values.tolist()

In [46]:
cas_map = folium.Map(location = [30, 40], zoom_start = 4)

In [48]:
HeatMap(heatmap_cas).add_to(cas_map)
cas_map.save('casualty.html')

<h1>Attack Type Analysis</h1>

In [49]:
filter_attack = df[df["attacktype1_txt"] == "Armed Assault"]
filter_attack1 = filter_attack[filter_attack["iyear"] >= 2000]
final_filter_attack = filter_attack1.groupby(["latitude", "longitude"]).size().reset_index(name = 'incident_count')

In [50]:
heatmap_attack = final_filter_attack[['latitude', 'longitude', 'incident_count']].values.tolist()

In [51]:
attack_map = folium.Map(location = [30, 40], zoom_start = 4)

In [52]:
HeatMap(heatmap_attack).add_to(attack_map)
attack_map.save('attack.html')