<h1> Hello World <h1\>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
birds = pd.read_csv('database\\penguins.csv')

In [4]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [5]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [6]:
birds['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

<h1> ADDING COLUMN <h1\>

In [7]:
birds['weight'] = np.round(birds['body_mass_g'] /1000, 1)

In [8]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h1> FILLING EMPTY CELLS <h1\>

In [9]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
dtype: int64

In [10]:
birds['bill_length_mm'] = birds['bill_length_mm'].fillna(birds['bill_length_mm'].mean())

In [11]:
birds['sex'] = birds['sex'].fillna(birds['sex'].mode()[0])

In [12]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
weight               2
dtype: int64

<h1> CHANGING DATATYPES <h1\>

In [13]:
birds['rowid'] = birds['rowid'].astype('category')

In [14]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
 9   weight             342 non-null    float64
dtypes: category(1), float64(5), int64(1), object(3)
memory usage: 35.8+ KB

In [15]:
birds[(birds['species'] == 'Chinstrap') &
(birds['island'] == 'Dream') &
(birds['weight'] > 3.5) &
(birds['weight'] < 4.5)]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007,3.9
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007,3.6
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007,3.7
281,282,Chinstrap,Dream,45.2,17.8,198.0,3950.0,female,2007,4.0
283,284,Chinstrap,Dream,51.3,18.2,197.0,3750.0,male,2007,3.8
284,285,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007,4.2
285,286,Chinstrap,Dream,51.3,19.9,198.0,3700.0,male,2007,3.7
286,287,Chinstrap,Dream,46.6,17.8,193.0,3800.0,female,2007,3.8
287,288,Chinstrap,Dream,51.7,20.3,194.0,3775.0,male,2007,3.8
288,289,Chinstrap,Dream,47.0,17.3,185.0,3700.0,female,2007,3.7
289,290,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007,4.0
290,291,Chinstrap,Dream,45.9,17.1,190.0,3575.0,female,2007,3.6
291,292,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007,4.0
293,294,Chinstrap,Dream,58.0,17.8,181.0,3700.0,female,2007,3.7
295,296,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007,4.4
296,297,Chinstrap,Dream,42.4,17.3,181.0,3600.0,female,2007,3.6
299,300,Chinstrap,Dream,50.6,19.4,193.0,3800.0,male,2007,3.8
301,302,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007,4.2
303,304,Chinstrap,Dream,49.5,19.0,200.0,3800.0,male,2008,3.8
304,305,Chinstrap,Dream,46.4,17.8,191.0,3700.0,female,2008,3.7
307,308,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008,4.3
309,310,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008,4.1
310,311,Chinstrap,Dream,49.7,18.6,195.0,3600.0,male,2008,3.6
311,312,Chinstrap,Dream,47.5,16.8,199.0,3900.0,female,2008,3.9
312,313,Chinstrap,Dream,47.6,18.3,195.0,3850.0,female,2008,3.8
316,317,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008,4.0
317,318,Chinstrap,Dream,46.2,17.5,187.0,3650.0,female,2008,3.6
318,319,Chinstrap,Dream,50.9,19.1,196.0,3550.0,male,2008,3.6
320,321,Chinstrap,Dream,50.9,17.9,196.0,3675.0,female,2009,3.7
321,322,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009,4.4
323,324,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009,4.3
325,326,Chinstrap,Dream,49.8,17.3,198.0,3675.0,female,2009,3.7
327,328,Chinstrap,Dream,51.4,19.0,201.0,3950.0,male,2009,4.0
328,329,Chinstrap,Dream,45.7,17.3,193.0,3600.0,female,2009,3.6
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.0
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.0
334,335,Chinstrap,Dream,50.2,18.8,202.0,3800.0,male,2009,3.8
336,337,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009,4.0
337,338,Chinstrap,Dream,46.8,16.5,189.0,3650.0,female,2009,3.6
338,339,Chinstrap,Dream,45.7,17.0,195.0,3650.0,female,2009,3.6
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8